<div class="jumbotron">
<div class="container">
	<h1>What About RPS?</h1>	<br />
	<a href="http://en.wikipedia.org/wiki/Rock-paper-scissors" target="_blank">
	<p><%= @about %></p>
	<p>Being Lazy? OK OK :</p>
	<ol>
		<li>rock beats scissors</li>
		<li>scissors beats paper</li>
		<li>paper beats rock</li>
		<li>same selections goes into a suden death match, lose is executed in the public square after lunch</li>
	</ol>
	<p><em>Use the footer navigation to choose your weapon</em></p>
</div>
</div>